* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://i.postimg.cc/q76rVqtf/1600w-fp-JFOdu-K3w4.webp'); /* Đường dẫn đến hình nền */
  background-size: cover; /* Hình ảnh sẽ bao phủ toàn bộ màn hình */
  background-position: center; /* Căn giữa hình ảnh */
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9); /* Nền trắng với độ trong suốt */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 300px; /* Chiều rộng của form */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745; /* Màu nền nút */
  color: white; /* Màu chữ nút */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838; /* Màu nút khi hover */
}
