.list-product-container {
  margin-top: 50px;
  padding-bottom: 20px;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.12);
  background-color: var(--green);
  border-radius: calc(4px + 8px);
  color: var(--pearl);
}
