@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
:root {
  --green: #55705a;
  --pearl: #ecdccb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Itim', 'sans-serif' !important;
  font-weight: 400;
  font-style: normal;
}

body {
  height: 100vh;
}
